@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Dancing+Script&family=Noto+Sans+Mahajani&family=Shadows+Into+Light&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-image: url(assets/main_bg.jpg);
  background-size: 100%;
  background-attachment: fixed;
  overflow-x: hidden;
}
#main {
  width: 100%;
}
#home {
  width: 100%;
  min-height: 100vh;
}
#nav {
  width: 100%;
  display: flex;
    position: absolute;
    z-index: 1;
}
#nav .bar {
  width: -webkit-fill-available;
    background-color: #121617;
    position: fixed;
    border-radius: 12px;
    box-shadow: 0px 24px 9px -16px #80808069;
    height: 5rem;
    padding: 15px 15px 18px 18px;
    margin: 30px 50px;
    display: flex;
    justify-content: space-between;
}
#nav img {
  height: 3vw;
    width: 11vh;
    cursor: pointer;
}
.menu a{
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
}
.btn_div button{
  border: none;
    width: 10rem;
    height: 3rem;
    font-size: 20px;
    border-radius: 29px;
    font-weight: bolder;
    color: white;
    background: #bb1e23;
    cursor: pointer;
    transition:height 0.5s,width 0.5s;
}
.menu{
  display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}
.btn1{
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
}
.drop_down_ul{
  list-style: none;
  position: absolute;
  top: 3.3rem;
  left: 33rem;
  padding: 13px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 0vw;
  width: 10vh;
  align-items: center;
  background-color: #bb1e23;
  border-radius: 8px;
  box-shadow: 0px 4px 5px 2px #e3d9d945;
  opacity: 0;
  transform: scaleY(0);
  transition: height 0.6s;
  visibility: visible;
}
.drop_down{
  cursor: pointer;
}
.drop_down:hover .drop_down_ul{
  opacity:1;
  transform: scaleY(1);
  transition: height 0.6s;
  height: 7vw;
}

.up{
  display: none;
}
.slider{
  box-shadow: 0px 24px 2px -16px #80808069;
}
.carousel-caption{
  top: 24rem;
}
.slider_img a{
  color: white;
  text-decoration: none;
}
.slider h2{
  font-family: 'Cormorant', serif; 
  font-weight: bolder;
}
.animate__fadeInDown{
  --animate-duration: 4s;
}
.animate__fadeInUp{
  --animate-duration: 4s;
}
.main_img img{
  height: 12rem;
    width: 15rem;
    border-radius: 30px;
    cursor: pointer;
    transition:transform 0.5s;
}
.main_img{
  position: relative;
}
.main_h3{
  color: white;
  position: absolute;
  top: 78px;
  left: 75px;
  cursor: pointer;
}
.main_img img:hover{
  transform: scale(0.95);
}
.text h1{
  background-image: url(assets/mix.jfif);
    font-family: 'Yellowtail', cursive;
    color: transparent;
    text-align: center;
    background-size: contain;
    -webkit-background-clip: text;
    font-size: 4rem;
    transform: rotate(-3deg);
    margin-top: 48px;
    margin-bottom: 48px;
}
.img_list_menu{
  display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.fe_section {
  background-color: #041314;
  box-shadow: 0px 0px 20px -5px white;
  border-radius: 16px;
  margin-top: 50px;
}
.wh_three {
  display: flex;
    justify-content: space-evenly;
    padding-top: 43px;
    border-bottom: 5px dotted #ffffff75;
    width: 66rem;
    margin-left: 31px;
    padding-bottom: 44px;
    position: relative;
    left: 7rem;
}
.wh_three h5 {
  padding-top: 30px;
  font-family: "Noto Sans Mahajani", sans-serif;
}
.reservation {
  display: flex;
  position: relative;    
}
.reservation img {
  border-radius: 9px 0px 0px 9px;
  width: 42.3rem;
  height: 20rem;
  margin-left: 18px;
}
.res-part {
  position: absolute;
  top: 60px;
  left: 75px;
  color: #ffffffa1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.res-part h1 {
  color: #ffffffd9;
}
.res-part a {
  text-decoration: none;
  color: #ffffffa1;
}
.work_hours {
  font-family: "Cormorant", serif;
  font-style: italic;
}
.btn_res_div {
  display: flex;
  align-items: baseline;
  gap: 28px;
}
.btn_res {
  border: none;
  width: 10rem;
  height: 3rem;
  font-size: 20px;
  border-radius: 29px;
  font-weight: bolder;
  color: white;
  background: #bb1e23;
}
.time_section {
  background-color: #142629;
  width: 42.3rem;
  height: 20rem;
  border-radius: 0px 9px 9px 0px;
  color: rgba(255, 255, 255, 0.596);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  text-align: center;
}
.res_sp {
  color: red;
}
.review {
  margin-top: 60px;
  border-bottom: 5px dotted #ffffff75;
  padding-bottom: 50px;
  width: 66rem;
  margin-left: 25px;
}
.testimonials::before {
  content: "";
  height: 4px;
  border-radius: 2px;
  width: 48px;
  position: absolute;
  background: red;
  left: 31.2rem;
  top: -10px;
}
.review_section h3 {
  color: white;
  padding-left: 22px;
  padding-top: 16px;
  font-family: "Bodoni Moda", serif;
}
.review_section h6 {
  font-weight: bolder;
  color: white;
}
.review_section p {
  color: #ffffffa1;
  width: 14.5rem;
  font-size: 19px;
  margin-left: 23px;
  margin-top: 29px;
  border-bottom: dotted 2px #ffffff42;
  padding-bottom: 17px;
}
.review_section img {
  border-radius: 78px;
  height: 3rem;
  width: 3rem;
}
.review_section {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
}
.review_first,
.review_second,
.review_third {
  border: dotted 2px rgba(26, 47, 52, 0.8);
  width: 21rem;
  border-radius: 12px;
  height: 28rem;
}
.review_first div,
.review_second div,
.review_third div {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 22px;
}
.counter_main {
  display: flex;
  justify-content: space-around;
}
.counter_main h3,
h5 {
  color: white;
}
.number {
  display: flex;
  justify-content: center;
}
.subscribe_img_div {
  position: relative;
}
.subscribe_row {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 10rem;
  left: 23rem;
  gap: 10px;
}
.sub_first h6 {
  color: white;
}
.sub_first h6::before {
  content: "";
  height: 4px;
  width: 34px;
  background-color: red;
  position: absolute;
  border-radius: 4px;
  left: 193px;
  top: -15px;
}
.sub_second p {
  text-align: center;
  color: white;
  font-size: 3rem;
  width: fit-content;
}
.sub_third {
  display: flex;
  gap: 17px;
}
.sub_input {
  position: relative;
  padding: 0 30px;
  border-radius: 5px;
  border: none;
  background: #142629;
  height: 2.2rem;
}
.sub_btn {
  border: none;
  width: 10rem;
  height: 2.8rem;
  font-size: 20px;
  border-radius: 29px;
  font-weight: bolder;
  color: white;
  background: #bb1e23;
  margin-top: -6px;
  box-shadow: 0px 15px 8px -13px #ffffff69;
}
.res_text::before {
  content: "";
  height: 4px;
  width: 30px;
  background: red;
  position: absolute;
  left: 0px;
  top: 10px;
  border-radius: 5px;
}

.subscribe_img {
  left: 7rem;
  height: 27rem;
  width: 66rem;
  position: relative;
  filter: blur(2px);
  top: 56px;
  border-radius: 14px;
}

/* effects */

.menu a:hover{
  transition: color 0.5s;
  color: #bb1e23;
}
.btn_div button:hover{
  width: 9.7rem;
  height: 2.7rem;
}
.menu ul a:hover{
  color: #ffffffb0;
}
.menu_txt:hover .up{
  display: inline;
}
.menu_txt:hover .down{
  display: none;
}
.menu_txt :hover .menu ul{
  opacity: 1;
  transform: scaleY(1);
  /* height: 7vw; */
  /* transform: translateY(-15px); */
}
.slider_img a:hover{
  color: white;
  text-decoration: none;
}